<!-- create angular header component -->
<header>
    <nav>
        <ul>
            <li class="cursor-pointer w-25 text-white"><a routerLink="/">Home</a></li>
            <li class="cursor-pointer w-25 text-white"><a routerLink="/rooms-list">room-list</a></li>
            <li class="cursor-pointer w-25 text-white"><a routerLink="/form">form</a></li>
            <li class="cursor-pointer w-25 text-white"><a routerLink="/login">login</a></li>
        </ul>
    </nav>
</header>

<h1> {{ title }}</h1>
