<h1>Welcome to {{hotelName}} </h1>

<div [hidden]="hideRooms">

    number of rooms:
    <span [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red' }"
        [innerHTML]="numberOfRooms"></span>
</div>
<button (click)="toggle()">get rooms number</button>

<div *ngIf="rooms && rooms.availableRooms ">

    <h1>
        Rooms List {{ rooms.availableRooms <= 0 ? "No Rooms!" :
        rooms.availableRooms}}
    </h1>

    <br>
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Rating</th>
            <th>Room Price</th>
            <th>Room Amentities</th>
            <th>Checkin Time</th>
            <!-- <th>Checkout Time</th> -->

        </tr>
        <!-- slice is a pipe that take a slice from array -->
        <tr [ngClass]="e? 'even' : 'odd' "
            *ngFor="let room of roomList | slice: 0:2; let e=even; let o=odd; let i=index">
            <td>{{i}}</td>
            <td>{{ e ? "Even" : "Odd"}}</td>
            <td> {{ room?.roomNumber }} </td>
            <td> {{ room?.roomType | titlecase }} </td>
            <td> {{ room?.rating | number: '1.0-1' }} </td>
            <td> {{ room?.price | currency: 'EUR' }} </td>
            <td> {{ room?.amenities }} </td>
            <td> {{ room?.checkinTime | date: "dd/MM/yyyy" }} </td>
        </tr>
    </table>
    <br>
</div>

<hr>
