


<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)" class="p-4 m-3 border">
    valid: {{roomsForm.valid| json}} <br>
    invalid: {{roomsForm.invalid| json}} <br>
    dirty: {{roomsForm.dirty| json}} <br>
    pristine: {{roomsForm.pristine| json}} <br>
    value: {{roomsForm.value| json}} <br>
    <div class="form-group">
        <label>room type</label>
        <input required class="form-control" type="text" name="roomType" [(ngModel)]="room.roomType">
    </div>
    <div class="form-group">
        <label>room Amentities</label>
        <input required class="form-control" type="text" name="amentities" [(ngModel)]="room.amenities">
    </div>
    <div class="form-group">
        <label>room price</label>
        <input required class="form-control" type="number" name="price" [(ngModel)]="room.price">
    </div>
    <div class="form-group">
        <label>room photos link</label>
        <input required class="form-control" type="text" name="photos" [(ngModel)]="room.photos">
    </div>
    <div class="form-group">
        <label>room checkin time</label>
        <input required class="form-control" type="datetime" name="checkinTime" [(ngModel)]="room.checkinTime">
    </div>
    <div class="form-group">
        <label>room checkout time</label>
        <input required class="form-control" type="datetime" name="checkoutTime" [(ngModel)]="room.checkoutTime">
    </div>
    
    <div class="form-group">
        <label>room rating</label>
        <input required class="form-control" type="number" name="rating" [(ngModel)]="room.rating">
    </div>
    
    <div class="form-group">
        <button [disabled]="roomsForm.invalid" type="submit" class="btn btn-success">submit</button>
    </div>
    <p class="text-success">{{message}}</p>
</form>